@font-face {
  font-family: '04b03';
  src: url('fonts/04b_03.ttf') format('truetype');
  font-weight: normal;
}
body {
  background-color: #302c2e;
}
h2, p, li {
  color: #dff6f5;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instructions {
  width: 800px;
  font-family: '04b03';
}